/* $Id: layout.css 241 2006-11-08 16:54:40Z Hal9000 $ */

div.title {
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	font-variant: small-caps;
	color: #CCCCCC;
	margin: 10px 0px 5px 0px;
}

div.error {
	width: 350px;
	margin: 50px auto 50px auto;
	border: 2px solid #FFFFFF;
}

table.error {
	width: 100%;
}
table.error td.lerr {
	background-color: #FFFFFF;
}
table.error td.rerr {
	background-color: #333333;
	border-left: 1px solid #CCCCCC;
	width: 100%;
}

table.stats {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	color: #CCCCCC;
}
table.stats tr.bg { background-color: #000000; }
table.stats td.l { border-left: 1px solid #666666; }
table.stats td.t { border-top: 1px solid #666666; }
table.stats td.r { border-right: 1px solid #666666; }
table.stats td.b { border-bottom: 1px solid #666666; }
table.stats td.s { background-color: #1D2A62; }
table.stats td.n { background-color: #1D2A62; }

table.bar {
	border: 1px solid #999999;
}
table.bar td.fill {
	background:#1D2A62 url(../img/barbg.png) no-repeat;
	height: 4px;
}
table.bar td.nofill {
	background-color: #000000;
	height: 4px;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

td.topmenu {
	margin: 0px;
	padding: 0px;
	width: 70px;
}
td.topmenu a {
	display: block;
	width: 69px;
}
td.topmenu a:hover {
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}

th { white-space: nowrap; }
